.admin__addevent span {
  font-size: 15px;
  font-family: monospace;
  margin: 0 19px;
}
.admin__addevent {
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin: 12px;
  background: white;
  padding: 30px;
}
.admin__addevent div {
  padding: 10px;
  background-color: white;
}
.admin__addevent input {
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  border-radius: 6px;
  margin: 10px;
}

textarea {
  font-size: 17px;
  padding: 30px 16px;
  width: 330px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  border-radius: 6px;
  margin: 10px;
}
